html, body {
  height: 100%;
  margin: 0;
  top: 0;
  color: #5d86a4;
  font-weight: lighter;
  letter-spacing: 1px;
}
h1, h2, h3, p {
  font-weight: lighter;
}
.header {
  width: 100%;
  z-index: 5;
  border-bottom: 1px solid #bfbfbf;
  background-color: #fff;
}
.navButton {
  color: #5d86a4;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  padding: 0 20px;
  cursor: pointer;
  border-right: 1px solid #bfbfbf;
  background: -webkit-linear-gradient(#f2efef, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f2efef, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f2efef, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f2efef, #fff); /* Standard syntax */
}
.navButton:hover {
  background: linear-gradient(#fff, #f2efef); /* Standard syntax */
}
.dropdown {
  display: table-cell;
}
.dropdown-menu>li {
}
.dropdown-menu>li>a {
  padding: 7px 20px;
  font-weight: lighter;
  background-color: #fff;
  color: #5d86a4;
}
.dropdown-menu>li>a:hover {
  background-color: #fff;
}
.logo {
  margin-right: 55px;
  font-size: x-large;
  background: none;
}
.logo:hover {
  background: none;
}
.profilePic {
  border-radius: 50%;
  width: 30px;
}
.tooltip {
  background-color: #fff;
  border-radius: 2px;
  margin: 5px 0;
  padding: 4px 7px;
}
.tooltip h3 {
  border-bottom: 1px solid #bfbfbf;
}
.tooltip p {
  margin: 5px 0px;
}
a:link, a:visited {
  text-decoration: none;
}
a:hover {
  background-color: #fefaf0;
  text-decoration: none;
}
a:active {
  /*the moment it is clicked*/
}
#mapChart {
  height: 91%;
  border-bottom: 1px solid #bfbfbf;
  z-index: 1;
}
.createContainer, .postContainer {
  width: 400px;
  max-width: 95%;
  margin: auto auto;
}
.report {

}
input, select, textarea {
  width: 250px;
  padding: 10px 10px 2px;
  max-width: 95%;
  color: #444;
  border: none;
  margin: 7px;
  border-bottom: 1px solid #bfbfbf;
  font-size: 100%;
}
input:focus, select:focus, textarea:focus {
  outline: none;
}
.submit {
  background: transparent;
  border: 1px solid #bfbfbf;
  cursor: pointer;
  padding: 8px 25px;
  color: #5d86a4;
  margin: 10px 5px;
}
.submit:hover, submit:focus {
  outline: none;
  background-color: #5d86a4;
  color: #fff;
}
