// Optional CSS Reset
// html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, a {
// 	padding: 0;
// 	border: 0;
// 	margin: 0;
// 	font-size: 100%;
// 	font: inherit;
// }

$primary-color: #5d86a4;
$border-color: #bfbfbf;
$gradient-color: #f2efef;
@import '_styleForm';
@import '_navEl';

html, body {
  height: 100%;
  margin: 0;
  top: 0;
  color: $primary-color;
  font-weight: lighter;
  letter-spacing: 1px;
}
h1, h2, h3, h4, p {
  font-weight: lighter;
}
.infoPane {
  background-color: #fff;
  border-radius: 2px;
  margin: 3px 0;
  padding: 2px 3px;
  max-width: 300px;
  font-weight: lighter;
  letter-spacing: 0px;
}
.marker {
  color: #333;
}
.infoPane h3 {
  border-bottom: 1px solid $border-color;
}
.infoPane p {
  margin: 5px 0px;
}
a:link, a:visited {
  text-decoration: none;
}
a:hover {
  background-color: #fefaf0;
  text-decoration: none;
}
#mapChart {
  height: 91%;
  z-index: 1;
}
.createContainer, .postContainer, .aboutContainer, .manageAccount {
  width: 400px;
  max-width: 95%;
  margin: 45px auto;
}
.manage {
  margin: 5px;
}
